---
const props = Astro.props;
---

<h2
    {...props}
    class="my-8 mx-auto max-w-3xl text-4xl font-semibold dark:text-amber-400"
>
    <a
        href={"#" + props.id}
        class="after:ml-2 after:text-stone-500 hover:after:content-['#']"
        ><slot /></a
    >
</h2>
