---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Archive">
    <main class="container mx-auto max-w-[100ch] pr-2 pl-2">
        <h1
            class="pt-2 pb-8 text-center text-5xl font-semibold dark:text-amber-500"
        >
            Archive
        </h1>
        <p class="text-center">TODO: Put archive here</p>
        <p class="mx-auto my-4 max-w-[80ch]">
            There is no reason for all of the headers on this page to exactly
            match the headers on article pages. I guess this is what Tailwind
            sort of hints at, properly adjust styling to the context, let the
            HTML tags be purely semantic.
        </p>
        <h2 class="text-4xl dark:text-amber-400">Header 2</h2>
        <h3 class="text-3xl dark:text-amber-300">Header 3</h3>
        <h4 class="text-2xl dark:text-amber-200">Header 4</h4>
        <h5 class="text-xl dark:text-amber-100">Header 5</h5>
        <h6 class="text-lg dark:text-stone-100">Header 6</h6>
        <p>Normal text</p>
    </main>
</Layout>
