---
import Layout from "../layouts/Layout.astro";
---

<Layout title="t3hmun">
    <main class="container mx-auto max-w-[80ch]">
        <p class="text-center">The latest incarnation of Manish's website.</p>
    </main>
</Layout>
