---
import { getCollection } from "astro:content";
import { sub } from "date-fns";
import Layout from "../layouts/Layout.astro";
const posts = (await getCollection("posts"))
    .filter((p) => !p.data.draft)
    .filter((p) => new Date(p.data.timestamp) > sub(new Date(), { years: 1 }))
    .sort(
        (a, b) =>
            new Date(b.data.timestamp).getTime() -
            new Date(a.data.timestamp).getTime()
    );
---

<Layout title="t3hmun" home={true}>
    <main class="container mx-auto max-w-[80ch]">
        <p class="text-center">The latest incarnation of Manish's website.</p>
    </main>
</Layout>
