---
import { StratHero as Game } from "../components/solid/StratHero";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Strat Hero">
    <main class="container mx-auto pr-2 pl-2">
        <h1
            class="pt-2 pb-8 text-center text-5xl font-semibold dark:text-amber-500"
        >
            Strat Hero
        </h1>
        <Game client:load />
    </main>
</Layout>
