---
import HeaderLink from "../components/HeaderLink.astro";
import { ThemeSwitcher } from "../components/ThemeSwitcher";
import { SITE_TITLE } from "../config";
import "../style/style.css";

export interface Props {
    title?: string;
    home?: boolean;
    frontmatter?: Frontmatter;
}

type Frontmatter = Omit<Props, "frontmatter">;

const frontmatter = Astro.props.frontmatter;
const title = Astro.props?.title ?? frontmatter?.title;
const home = Astro.props.home;

const isDev = import.meta.env.DEV;
const vars = isDev
    ? `${JSON.stringify({ title, home, props: Astro.props }, null, 4)}`
    : "";
---

<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline src="/theme.js"></script>
    </head>
    <body
        class="bg-stone-100 text-stone-950 dark:bg-stone-850 dark:text-stone-150"
    >
        <header
            class="mb-4 bg-stone-150 py-2 text-stone-900 dark:bg-stone-800 dark:text-stone-100"
        >
            <div
                class={`${
                    home ? "text-4xl" : "text-2xl"
                } mb-2 text-center font-semibold text-amber-600 dark:text-amber-300`}
            >
                <a class="" href="/">{SITE_TITLE}</a>
            </div>
            <nav>
                <ul
                    class="flex-column items-middle flex flex-wrap justify-center"
                >
                    <li class="mx-3">
                        <HeaderLink href="/">Home</HeaderLink>
                    </li>
                    <li class="mx-3">
                        <HeaderLink href="/archive">Archive</HeaderLink>
                    </li>
                    <li class="mx-3">
                        <HeaderLink
                            href="https://github.com/t3hmun"
                            target="_blank"
                        >
                            GitHub
                        </HeaderLink>
                    </li>
                    <li class="mx-3">
                        <ThemeSwitcher client:load />
                    </li>
                </ul>
            </nav>
        </header>
        <slot />
        {
            isDev && (
                <section>
                    <pre>{vars}</pre>
                </section>
            )
        }
        <footer></footer>
    </body>
</html>
